@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    National Rugby League Ltd<br />
    Rugby League Central<br />
    Driver Avenue, Moore Park NSW 2021<br />
    <br />
    Locked Bag 5000<br />
    Paddington, NSW 2021<br />
    Redmond, WA 98052-6399<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:NRL@example.com">NRL@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:NRLMarketing@example.com">NRLMarketing@example.com</a>
</address>